<div class="alert alert-secondary mt-4">
    <span class="oi oi-envelope-closed me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Please email me at <a
            target="_blank"
            class="font-weight-bold link-dark"
            href="mailto:hyo@dooboolab.com?subject=[Github]%20Chatsubject">
            hyo@dooboolab.com</a>
    </span> and tell me anything.
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
