@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/hyochan" target="_blank" class="text-black">About</a>
        </div>

        <article class="content px-4">
            <img src="https://avatars.githubusercontent.com/u/27461460?v=4" class="rounded-circle mb-4" width="192" height="192" />
            @Body
        </article>
    </main>
</div>
