@page "/"

<PageTitle>Hyo</PageTitle>

<h1 class="mb-4">Hyo</h1>

<p>I am passionate about inspiring individuals to embrace growth and learning with enthusiasm.</p>

<p>By creating enjoyable and engaging experiences, I help people unlock their potential, fostering a sense of accomplishment and cultivating a love for self-improvement.</p>
<p>My ultimate goal is to spark curiosity and wonder, transforming the learning journey into an exciting adventure that nurtures both personal and professional development.</p>

<EmailPrompt Title="Are you interested in my story?" />
