@page "/"

<PageTitle>Hyo</PageTitle>

<h1 class="text-4xl font-bold mb-6 text-indigo-800">Hyo</h1>

<p class="text-lg leading-7 mb-4">
    As the founder of <a href="https://dooboolab.com" class="text-indigo-500 hover:text-indigo-600">dooboolab</a>, I am dedicated to making education accessible to everyone by developing an affordable and inclusive learning platform. Our mission is to eliminate financial barriers to education and create a platform that empowers individuals to learn and grow.
</p>

<p class="text-lg leading-7 mb-4">
    Our team is dedicated to using the latest technology to provide a seamless, engaging, and effective learning experience. As a startup, we prioritize innovation and continuously explore new ways to enhance education for all. Our ultimate goal is to build a world where everyone has the opportunity to learn, grow, and thrive, regardless of their financial situation.
</p>

<p class="text-lg leading-7 mb-4">
    I am passionate about inspiring people to embrace growth and learning with enthusiasm. By crafting enjoyable and engaging experiences, I help individuals unlock their potential, fostering a sense of achievement and cultivating a love for self-improvement.
</p>

<p class="text-lg leading-7 mb-4">
    My primary objective is to ignite curiosity and wonder, transforming the learning journey into an exciting adventure that nurtures both personal and professional development. If you are interested in learning more about me, please visit my github at <a href="https://github.com/hyochan" class="text-indigo-500 hover:text-indigo-600">github.com/hyochan</a> and see if I am the person you have been searching for.
</p>

<EmailPrompt Title="Are you interested in my story?" />

<p class="text-lg leading-7 my-4">
    You can also find me via <a href="https://linkedin.com/in/hyochanjang" class="text-indigo-500 hover:text-indigo-600">LinkedIn</a> and <a href="https://twitter.com/dooboolab" class="text-indigo-500 hover:text-indigo-600">Twitter</a>.
    As an experienced entrepreneur and software engineer, I enjoy sharing my insights and expertise with a growing network of like-minded individuals.
    I am always eager to connect with others who share my passion for education, technology, and innovation.
    Together, we can collaborate, exchange ideas, and make a lasting impact in the world of education.
</p>
